[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
cryptography = "*"
sender = "*"
passlib = "*"
Flask = "*"
SQLAlchemy = "*"
PyMySQL = "*"
Flask-Cors = "*"
Flask-JWT = "*"
Werkzeug = "*"
Flask-JWT-Extended = "*"
DateTime = "*"
pyjwt = "*"

[requires]
python_version = "3.8"
